/* Change the default box-model of CSS */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* font-related classes */

.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.open-sans-regular {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.caveat-regular {
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: normal;
}

.raleway-regular {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#main_navigation {
  display: flex;
  background-color: teal;
  list-style-type: none;
  border-radius: 0.315rem;
}

#main_navigation li{
  display: inline-block;
}

#main_navigation a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

#main_navigation a:hover {
  background-color: white;
  color: teal;
}